# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDE / Editor files
.vscode/
.idea/
*.swp
*.swo

# Add-on Specific (DO NOT COMMIT THESE)
pdfjs/
user_files/
*.zip

# OS Specific
.DS_Store
Thumbs.db
